.beatiful_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../img/banner.jpg);
}
.beatiful_sombra{
    position:absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0,0, 0,0.6);
    color: #fff;
    margin: auto;
    border-radius: 5px;
}
.beatiful_sombra hr{
    border-top: 1px solid #fff;
}
.beatiful_sombra h1{
    font-size: 8vw;
    margin-bottom: 10px;
    text-shadow: rgb(184, 147, 147);
}
.beatiful_sombra p{
    font-size: 4vw;
    margin-bottom: 10px;
}
.beatiful_cont_banner_link {
    margin: 15px;
    position: relative;
}
.beatiful_cont_banner_link a{
    position: relative;
    display: inline-block;
    color: #fff;
 
    text-decoration:none ;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
    border-radius: 10px;
}
.beatiful_cont_banner_link a:hover{
    background-color: #fff;
    color: #111;
   
}
.beatiful_banner_link{
    opacity: 0;
    animation: beatiful_keyframes_aparecer_de_arriba 1s;
    -webkit-animation:beatiful_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
}
.beatiful_banner_link_1{
    opacity: 0;
    animation: beatiful_keyframes_aparecer_de_arriba 1s;
    -webkit-animation:beatiful_keyframes_aparecer_de_arriba 1s ;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.beatiful_banner_link_2{
    opacity: 0;
    animation: beatiful_keyframes_aparecer_de_arriba 1s;
    -webkit-animation:beatiful_keyframes_aparecer_de_arriba 1s ;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}