*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family:'Courier New', Courier, monospace;
   
}
.beatiful_cont_cards{
    margin: 15px;
    position: relative;
    display: inline-block;

}