*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family:'Courier New', Courier, monospace;
   
}
.beatiful_cont_cards{
    margin: 15px;
    position: relative;
    display: inline-block;

}
.Beautiful_navbar{
    background-color: rgba(255, 255, 255,0.7)!important;
}
.Beautiful_navbar div,.Beautiful_navbar ul{
    background-color: transparent !important;

}
.beati_cont_sec_1{
    padding: 10%;
}
.beati_cont_sec_1_link{
    padding: 5%;
}
.beati_cont_sec_1_link a{
    width: 200px;
}
.beati_cont_sec_1 hr{
    border-top: 2px solid rgba(1,1,1,);
}